<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>beam-meris-qaa</symbolicName>
    <name>QAA IOP Processor</name>
    <version>1.3</version>

    <description>
        <![CDATA[
            <p>This BEAM module allows the retrieval of inherent optical properties (IOPs) for coastal and open
            ocean waters for MERIS.</p>

            <p>Documentation:</p>
            <ul>
                <li><a href="http://github.com/downloads/bcdev/beam-meris-qaa/Lee_2002_QAA.pdf">Processor Documentation (Journal paper)</a></li>
                <li><a href="http://github.com/downloads/bcdev/beam-meris-qaa/QAA_v5.pdf">update to the documentation paper</a></li>
            </ul>
        ]]>
    </description>

    <changelog>
        <![CDATA[
        Changes in 1.3:<br/>
        [QAA-15] Update limits of the output variables<br/>
        [QAA-13] Update help pages<br/>
        [QAA-12] Change invalid pixel expression to valid pixel expression<br/>
        [QAA-11] Exponent in preparation step should be -3.19<br/>
        Changes in 1.2:<br/>
        [QAA-010] Extract algorithm class that allows processing on input reflectance vector<br/>
        Changes in 1.1:<br/>
        [QAA-009] Rename IOPs in user interface according to the resulting band names<br/>
        [QAA-008] Introduce flags to indicate values which are out of bounds<br/>
        [QAA-007] Change no-data value to Float.NaN<br/>
        [QAA-006] Don't test source product for specific type<br/>
        [QAA-005] Let user specify expression used for detection of invalid pixels<br/>
        Changes in 1.0.2:<br/>
        [QAA-004] Migrate QAA IOP Processor to GPF<br/>
        [QAA-003] Performance can be increased<br/>
        [QAA-002] Typo in flag name<br/>
        [QAA-001] Apply new coefficients for calculation of a560 (step 2)<br/>
        ]]>
    </changelog>

    <vendor>U.S. Naval Research Center and Winona State University</vendor>
    <contactAddress>n/a</contactAddress>
    <copyright>(C) 2007-2009 by U.S. Naval Research Laboratory</copyright>
    <url>http://github.com/bcdev/beam-meris-qaa</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>merisQaaIOP</id>
            <class>org.esa.beam.meris.qaa.ui.MerisQaaAction</class>
            <text>QAA for IOP (MERIS)...</text>
            <shortDescr>Invoke the QAA for IOP processor</shortDescr>
            <mnemonic>Q</mnemonic>
            <parent>tools</parent>
            <helpId>QAATool</helpId>
            <placeAfter>flhMciScientificTool</placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/qaa.hs</path>
        </helpSet>
    </extension>
</module>
