<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>beam-meris-qaa</symbolicName>
    <name>QAA IOP Processor</name>
    <version>1.0.2</version>

    <description>
        <![CDATA[
            <p>This BEAM module allows the retrieval of inherent optical properties (IOPs) for coastal and open
            ocean waters for MERIS.</p>

            <p>Documentation:</p>
            <ul>
                <li><a href="http://github.com/downloads/bcdev/beam-meris-qaa/Lee_2002_QAA.pdf">Processor Documentation (Journal paper)</a></li>
                <li><a href="http://github.com/downloads/bcdev/beam-meris-qaa/QAA_v5.pdf">update to the documentation paper</a></li>
            </ul>
        ]]>
    </description>

    <changelog>
        <![CDATA[
        Changes in 1.0.2:<br/>
        [QAA-003] Performance can be increased<br/>
        [QAA-002] Typo in flag name<br/>
        [QAA-001] Apply new coefficients for calculation of a560 (step 2)<br/>
        ]]>
    </changelog>

    <vendor>U.S. Naval Research Center and Winona State University</vendor>
    <contactAddress>n/a</contactAddress>
    <copyright>(C) 2007-2009 by U.S. Naval Research Laboratory</copyright>
    <url>http://github.com/bcdev/beam-meris-qaa</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-processing</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor,MERIS</categories>

    <extension point="beam-visat:actions">
        <action>
            <id>analyisisScientificTool</id>
            <class>org.esa.beam.visat.actions.ProcessorAction</class>
            <processor>org.esa.beam.visat.processor.quasi.AnalyticalProcessor</processor>
            <text>QAA for IOP (MERIS)...</text>
            <shortDescr>Invoke the QAA for IOP processor</shortDescr>
            <mnemonic>Q</mnemonic>
            <parent>tools</parent>
            <helpID>quasiAnalysisTool</helpID>
            <placeAfter>flhMciScientificTool</placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:actions">
        <action>
            <id>merisQaaIOP</id>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <text>QAA for IOP (MERIS) - GPF...</text>
            <shortDescr>Invoke the QAA for IOP processor</shortDescr>
            <mnemonic>Q</mnemonic>
            <parent>tools</parent>
            <helpID>QAATool</helpID>
            <placeAfter>flhMciScientificTool</placeAfter>
            <operatorName>Meris.QaaIOP</operatorName>
            <dialogTitle>QAA for IOP</dialogTitle>
            <targetProductNameSuffix>_qaa</targetProductNameSuffix>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/qaa_v4.hs</path>
        </helpSet>
    </extension>
</module>
